body {
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #7ab3e4, #4c8291);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: whitesmoke;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

#city-input {
    padding: 10px;
    width: 200px;
    border: 1px solid rgb(246, 203, 203);
    border-radius: 5px;
}

#search-button {
    padding: 10px;
    border: none;
    background-color: lightblue;
    color: white;
    border-radius: 5px;
}

#weather-logo {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}